{% extends 'app/home.html' %}
{% block contenido %}
{% load crispy_forms_tags %}    
{% load static %}
<div class="container mt-4">
    <h2>Reserva tu hora medica con nuestros profesionales de la salud.</h2>
    <p>Servicios de alta calidad para tu bienestar.</p>
    
    <div class="card mt-4">
        <div class="card-header bg-info text-white">
            Reservar una cita
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'agendar' %}" id="formulario">
                {% csrf_token %}
                <div class="form-group">
                    <label for="RutPaciente">RUT del Paciente:</label>
                    <input type="text" class="form-control" name="RutPaciente" id="RutPaciente">
                    <div id="rut-validation-result">{{ error_message }}</div>
                </div>
                
                <div class="form-group">
                    <label for="RutProfesional">Profesional:</label>
                    <select class="form-control" name="RutProfesional" id="RutProfesional">
                        {% for prof in profesionales %}
                            <option value="{{ prof.Rut }}">{{ prof.Nombres }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="FechaAtencion">Fecha:</label>
                    <input type="date" class="form-control" name="FechaAtencion" id="FechaAtencion">
                </div>
                <div class="form-group">
                    <label for="Tarifa">Tarifa:</label>
                    <input type="text" class="form-control" name="Tarifa" id="Tarifa" readonly>
                </div>
                <div class="form-group">
                    <label for="IdBloque">Bloques Disponibles:</label>
                    <select class="form-control" name="IdBloque" id="IdBloque">

                    </select>
                </div>
                <button type="submit" name="action" value="reservar" class="btn btn-primary">Reservar cita</button>
                <a href="{% url 'reservas' %}" ><span class="material-symbols-outlined">
                    view_agenda
                    </span>Ver mis reservas</button>
            </form>
            
        </div>
    </div>    
</div>
<script>
    $(document).ready(function() {
        $('#RutProfesional').change(function() {
            var url = "{% url 'fetch_bloques' %}";
            var rut_profesional = $(this).val();
    
            $.ajax({
                url: url,
                data: {
                    'rut_profesional': rut_profesional
                },
                success: function(data) {
                    var select = $('#IdBloque');
                    select.empty();
                    $.each(data.bloques, function(index, value) {
                        select.append('<option value="' + value.id + '">' + value.Descripcion + '</option>');
                    });
                    $('#Tarifa').val(data.tarifa);
                }
            });
        });
    });
    </script>
    

    
    {% endblock %}