{% extends 'app/home.html' %}
{% block contenido %}
{% load crispy_forms_tags %}    
{% load static %}
<div class="card mt-4">
    <div class="card-header bg-infor text-white">
        Reservar cita
    </div>

<div class="card-body">
    <form method="POST" action="{% url 'agendar' %}" id="formulario">
        {% csrf_token %}
        <div class="form-group">
            <label for="rut">RUT del Paciente:</label>
            <input type="text" class="form-control" name="rut" id="rut" >
            <div id="rut-validation-result">{{ error_message }}</div>
        </div>
        
        <div class="form-group">
            <div id="parte1">
                <label for="profesional">Profesional:</label>
                <select class="form-control" name="profesional" id="profesional">
                    {% for prof in data %}
                        <option value="{{ prof.Rut }}">{{ prof.Nombres }}</option>
                    {% endfor %}
                </select>
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" class="form-control" name="fecha" id="fecha">
            </div>
            <div class="form-group">
                <label for="bloque">Bloques Disponibles:</label>
                <select class="form-control" name="bloque" id="bloque">
                    {% for bloque in bloques %}
                        <option value="{{ bloque.id }}">{{ bloque.Descripcion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="tarifa">Tarifa:</label>
                <input type="number" class="form-control" name="tarifa" id="tarifa" min="0" step="0.01">
            </div>
            <button type="button" id="siguiente" class="btn btn-primary">Siguiente</button>
        </div>
        <div id="parte2" style="display: none;">
            <div class="form-group">
                <label for="box">Box:</label>
                <select class="form-control" name="box" id="box">
                    {% for box in boxes %}
                        <option value="{{ box.id }}">{{ box.Descripcion }}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="action" value="reservar" class="btn btn-primary">Reservar cita</button>
            </div>
        </div>
        </div>
    </form>
</div>
</div>
<script>
    document.getElementById('siguiente').addEventListener('click', function() {
        document.getElementById('siguiente').style.display = 'none';
        document.getElementById('parte2').style.display = 'block';
    });
    </script>
<script>
    function validarRut() {
        var rut = document.getElementById('rut').value;
        fetch('/verificar_rut/?rut=' + rut)
            .then(response => response.json())
            .then(data => {
                if (data.existe) {
                    
                    document.getElementById('rut-validation-result').innerHTML = '';
                } else {
                    
                    document.getElementById('rut-validation-result').innerHTML = 'RUT no existe';
                }
            })
            .catch(error => console.error('Error:', error));
    }
</script>
<script>
    $('#profesional').change(function() {
        var rut_profesional = $(this).val();
        $.get('/ruta/a/bloques_disponibles/', {rut_profesional: rut_profesional}, function(data) {
            var select = $('#bloque');
            select.empty();
            $.each(data, function(index, value) {
                select.append('<option value="' + value.id + '">' + value.Descripcion + '</option>');
            });
        });
    });
</script>
<script>
    document.querySelector('#formulario').addEventListener('submit', function(e) {
        var fecha = document.querySelector('#fecha').value;
        var feriado = false;
        var profesional = document.querySelector('#profesional').value;
        var bloque = document.querySelector('#bloque').value;

        // Comprueba si los campos están vacíos
        if (!fecha || !profesional || !bloque) {
            alert('Por favor, rellena todos los campos.');
            e.preventDefault();
            return;
        }

        fetch('https://api.victorsanmartin.com/feriados/en.json')
            .then(response => response.json())
            .then(data => {
                var feriados = data;
                for (var i = 0; i < feriados.data.length; i++) {
                    if (feriados.data[i].date === fecha) {
                        feriado = true;
                        alert('La fecha seleccionada es un día feriado: ' + feriados.data[i].title);
                        break;
                    }
                }

                if (!feriado) {
                    // La fecha no es un día feriado, permite el envío del formulario
                    return;
                } else {
                    // La fecha es un día feriado, evita el envío del formulario
                    e.preventDefault();
                }
            })
            .catch(error => console.log('Error:', error));
    });
</script>
{% endblock %}