<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica XYZ</title>
    <!-- Enlace a Bootstrap CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% load static %}
    <style>
        /* Estilo para el footer fijo en la parte inferior */
        body {
            margin: 0;
            padding: 0;
            position: relative;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #145494; /* Color de fondo del footer */
            color: white;
            text-align: center;
            padding: 10px;
        }

        /* Estilo para el encabezado */
        .navbar {
            background-color: #145494; /* Color de fondo del encabezado */
        }

        .navbar-brand {
            color: white;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .navbar-nav .nav-link {
            color: white;
        }

        /* Estilo para el contenido principal */
        .container {
            margin-top: 30px; /* Para evitar que el contenido sea ocultado por el encabezado */
        }

        .nav-item{
            font-size: 27px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>

<!-- Encabezado -->
<nav class="navbar navbar-expand-lg  navbar-dark">
    <div class="container">
        
        <a class="navbar-brand " href="#" style="font-size: 39px;">
            <a href="{% url 'inicio' %}">
                <img src="{% static 'assets/imgs/png-clipart-dr-mario-dr-luigi-super-mario-bros-mario-yoshi-mario-purple-heroes (2).png' %}" alt="Logo Clínica Durok" width="50" height="50">
            </a>        </a>
        <p style="font-size: 30px; color: white;">Clinica Durok</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}" style="color: white;">Inicio</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link" style="color: white;">-</span>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" style="color: white;">Iniciar Sesión</a>
                </li>
                {% endif %}
                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'registro' %}" style="color: white;">Registrarse</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link" style="color: white;">-</span>
                </li>
                {% endif %}
                    {% if user.is_authenticated and not user.is_secretaria %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agendar' %}" style="color: white;">Reservar hora</a>
                    </li>
                    {% elif user.is_authenticated and user.is_secretaria %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'agendar_secretaria' %}" style="color: white;">Agendar hora</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated and user.is_secretaria %}
                <li class="nav-item">
                    <span class="nav-link" style="color: white;">-</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'secretaria' %}" style="color: white;">Secretaria</a>
                {% endif %}
                {% if user.is_authenticated and user.is_medico %}
                <li class="nav-item">
                    <span class="nav-link" style="color: white;">-</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_paciente' %}" style="color: white;">Lista pacientes</a>
                {% endif %}

                <!-- Nombre del usuario autenticado y menú desplegable de desconexión -->
                
            </ul>
            
        </div>
        {% if user.is_authenticated %}
                <div class="dropdown d-flex justify-content-end"> 
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                        <span class="material-symbols-outlined">
                            person
                            </span> {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if user.is_authenticated and user.is_medico %}
                            <a class="dropdown-item" href="{% url 'datosform_medico' %}">Editar Perfil</a>
                        {%else%}
                            <a class="dropdown-item" href="{% url 'datosform' %}">Editar Perfil</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'logout' %}">Desconectar</a>
                        
                    </div>
                </div>
                {% endif %}
    </div>
</nav>

<!-- Contenido principal -->
{% block contenido %}
<div class="container mt-4">
    <h2>Bienvenido a la Clínica Durok</h2>
    <p>Servicios de alta calidad para tu bienestar.</p>
    
    <!-- Sección de ayuda con imagen y botones -->
    <div class="row">
        <div class="col-md-6">
            <img src="{% static 'assets/imgs/Dr._Mario_SSBU.webp' %}" alt="Mario" class="img-fluid" width="300">
        <!--  <p style="font-size: 30px;" >Mmm tienes gay.</p> -->
        </div>
        <div class="col-md-6">
            <h3>¿En qué podemos ayudarte?</h3>
            <p>Contamos con una amplia gama de servicios para tu salud y bienestar. ¡Elige la opción que mejor se adapte a tus necesidades!</p>
            <a href="{% url 'contacto' %}" class="btn btn-success btn-lg mb-3">Contacto con un Profesional de Salud</a>
            {% if user.is_authenticated %}
                <a href="{% url 'agendar' %}" class="btn btn-primary btn-lg mb-3">Reservar Hora medica</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary btn-lg mb-3">Reservar Hora medica</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
<!-- Pie de página fijo en la parte inferior -->
<div class="footer">
    &copy; 2023 Clínica Durok. Todos los derechos reservados.
</div>

<!-- Enlace a Bootstrap JS (opcional) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
