{% extends 'app/home.html' %}
{% block contenido %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<div class="container my-5">

    <div class="d-flex align-items-center justify-content-between mb-4">
      <h2>Lista de reservas</h2>
      <div>
        <a href="{% url 'agendar_secretaria' %}">
            <button class="btn btn-primary">Nueva reserva</button>
        </a>
    </div>
    </div>
  
    <div class="table-responsive">
      <table class="table table-hover table-bordered">
        <thead class="table-light">
          <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Médico</th>  
            <th scope="col">Bloque</th>
            <th scope="col">Tarifa</th>
            <th scope="col"></th>
          </tr>
        </thead>
      
        <tbody>
          {% for reserva in reservas %}
          <tr>
            <td>{{ reserva.RutPaciente }}</td>
            <td>{{ reserva.RutProfesional }}</td>
            <td>{{ reserva.IdBloque }}</td>
            <td>{{ reserva.Tarifa }}</td>
            <td>
              <button class="btn btn-sm btn-danger" onclick="cancelarReserva({{ reserva.id }})">Cancelar</button>
              <button class="btn btn-sm btn-success" onclick="marcarComoPagado({{ reserva.id }})">Marcar como Pagado</button>
              <button class="btn btn-sm btn-danger text-white" onclick="marcar_no_pago({{ reserva.id }})">Marcar no Pago</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
    </div>
  
  </div>

  <script>
    function marcarComoPagado(reservaId) {
        var confirmacion = confirm("¿Seguro que quieres marcar como pagado?");
        if (confirmacion) {
            fetch('/marcar_como_pagado/' + reservaId + '/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    function marcar_no_pago(reservaId) {
        var confirmacion = confirm("¿Seguro que quieres marcar como no pagado?");
        if (confirmacion) {
            fetch('/marcar_no_pago/' + reservaId + '/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({}),
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>

{% endblock %}