{% extends 'app/home.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container" style="height: 100vh;">
    <div class="row">
        <div class="col-lg-4">
            <div class="card p-4" style="width: 18rem;">
                <h2 class="text-center mb-3">Iniciar sesión</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if mensaje %}
                        <div class="alert alert-danger" role="alert">
                            {{ mensaje }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
                </form>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <img src="{% static 'assets/imgs/esquivalo.jpg' %}" class="card-img-top"  alt="...">
            </div>
        </div>
    </div>
</div>

    {% endblock %}
    </body>
    
</html>
