{% extends 'app/home.html' %}
{% block contenido %}
{% load static %}


<div class="container mt-4">
    <h2>Mis Reservas</h2>

    <div class="card">
        <div class="card-header bg-info text-white">
            Listado de Reservas
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for reserva in reservas %}
                    <li class="list-group-item">
                        <b>Reserva con el Dr.</b> {{ reserva.RutProfesional.Nombres }}  <b>Fecha:</b> {{ reserva.FechaAtencion }}  <b>Bloque:</b>  {{ reserva.IdBloque.Descripcion }}
                        <form method="POST" action="{% url 'eliminar_reserva' reserva.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </li>
                {% empty %}
                    <li class="list-group-item">No hay reservas.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Botón para volver -->
    <a href="{% url 'agendar' %}" class="btn btn-info mt-3">Volver</a>

</div>
{% endblock %}