{% extends 'app/home.html' %}
{% block contenido %}
{% load static %}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
            <div class="card shadow-lg mb-5">
                <img src="{% static 'assets/imgs/reservation.png' %}" class="card-img-top" alt="Dr. Mario">
                <div class="card-body">
                    <h5 class="card-title text-center">Crear Reserva</h5>
                    <p class="card-text text-center">Crea una reserva para un paciente prr</p>
                    <a href="{% url 'agendar_secretaria' %}" class="btn btn-primary w-100">Crear</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
            <div class="card shadow-lg mb-5">
                <img src="{% static 'assets/imgs/agendation.png' %}" class="card-img-top" alt="Dr. Mario">
                <div class="card-body">
                    <h5 class="card-title text-center">Ver agendas</h5>
                    <p class="card-text text-center">Ver todas las agendas ?.</p>
                    <a href="{% url 'lista_reserva' %}" class="btn btn-primary w-100">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex flex-column align-items-center justify-content-center">
            <div class="card shadow-lg mb-5">
                <img src="{% static 'assets/imgs/medication.png' %}" class="card-img-top" alt="Dr. Mario">
                <div class="card-body">
                    <h5 class="card-title text-center">Lista doctores</h5>
                    <p class="card-text text-center">Ver a los doctores!.</p>
                    <a href="{% url 'lista_medico' %}" class="btn btn-primary w-100">Botón</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}